body{
    background-color: black;
    color: rgb(117, 173, 32);
}

h1 {
    font-size: 48px;
}
h2 {
    font-size: 26px;
}
.card {
    background-color: black;
}

.arms img {
    width: 60%;
    height: 250px;
}
.iconCards img {
    height: 150px;
}

/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
img:hover {
    animation: shake 3s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(50deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(50deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(50deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(50deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }