body{
    background-color: black;
    color: rgb(117, 173, 32);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 26px;
}
.choiceText {
    font-size: medium;
}

.jumbotron {
    background-color: black;
}

.card {
    background-color: black;
}

.arms img {
    width: 60%;
    height: 250px;
}

.iconCards {
    margin-left: 150px;
    background-color: black;
    border: none;
}

.results {
    margin-top: 60px;
    font-size: 54px;
    font-weight: bold;
}


/* buttons styles */
.buttonIcon {
    width: 150px;
    height: 150px;
}

.button {
    border: solid;
    border-style: solid;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 50%;
    margin: 10px 0 0 150px;
}

.rockButton {
    background-color: #4CAF50;
    border-color:  #82fd86;
}

.paperButton {
    background-color: #1fb8ff;
    border-color: #70d1fd;
}

.scissorButton {
    background-color: #f120cf;
    border-color: #fd84e9;
}

/* resultsDiv styles */
.resultsDiv{
    margin: 2em 0 0 5em;
    font-size: xx-large;
}


/* rock fists animations */
/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
.startImgLeft:hover {
    animation: shake 1s;
}
@keyframes shake {
    0% { transform: rotateZ(315deg); }   
}

.startImgRight:hover {
    animation: shake 1s;
}
@keyframes shake {
    0% { transform: rotateZ(20deg); }
}